<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado libre</title>
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="/css/style.css">
 <link rel="stylesheet" href="/css/header.css">
 <link rel="stylesheet" href="/css/main.css">
 <link rel="stylesheet" href="/css/body.css">
 <link rel="stylesheet" href="/css/footer.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <div class="logoybarra">
        <figure><img src="/images/logo-mercado-liebre.svg"  alt="Logo Mercado libre" > </figure>
        <div class="barraBusqueda">
            <input class="search__input" type="text" placeholder="Buscar productos, marcas">
        </div><h2 i class="fa-solid fa-magnifying-glass"></i>></h2>
            <center> <h3 i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h3></center>
    </div>
        </section>
           <nav class="nav-bar">
                <a href="">Ofertas</a>
                 <a href="">Tiendas oficiales</a>
                 <a href="">Vender</a>
                   <a href="">Ayuda</a>
               </nav>
               <nav class="login-bar">
                
                <i class="fa-solid fa-id-card"></i>
                <a href="/register">Crea tu cuenta </a>
                <i class="fa-solid fa-right-to-bracket"></i>
                <a href="/login">Ingresa </a>
                <i class="fa-solid fa-basket-shopping"></i>
                <a href="">Mis compras</a>
           </nav>
           <center><nav id ="hamburguer"><i class="fa-solid fa-bars" ></i></nav></center>
    </header>
    <main>
        <img class="baner" src="/images/img-home-banner.jpg" alt="img-home-banner" width="100%">
        
        <b><h2>Basado en tu ultima visita</h2></b>   
            <section class="contenedor">
            <article>
        <img src="images/img-cafetera-moulinex.jpg" alt="Imagen-cafetera-moulinex" width="100" >
        <div class="subCaja">
        <i class="fa-solid fa-truck camion"></i>
        <p class="precio"> $6.770</p>
        <p class="descuento">40% OFF</p>
        <b><p class="descripcion">Cafetera Moulinex</p> </b>
        </div>
    </article> 
          <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="100">
       <div class="subCaja">
        <i class="fa-solid fa-truck camion"></i>
        <p class="precio"> $230.000</p>
        <p class="descuento">20% off</p>
        <b><p class="descripcion"> MacBook Pro 2019</p></b>
       </div> 
    </article>

        <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="100">
        <div class="subCaja">
        <i class="fa-solid fa-truck camion"></i>
        <p class="precio"> $70.500</p>
        <p class="descuento">10% off</p>
        <b><p class="descripcion"> Samsung Galaxy S10</p></b>
        </div>
    </article>

        <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="100">
        <div class="subCaja">
        <i class="fa-solid fa-truck camion"></i>
        <p class="precio"> $23.200</p>
        <p class="descuento">5% off</p>
        <b><p class="descripcion"> SmartTv Samsung 43"</p></b>
        </div>
    </article>
            </section>
     
         <b><h2>Seccion de ofertas</h2></b>
<section class="contenedor">
            <article> 
            <img src= "/images/img-cafetera-moulinex.jpg" alt="Imagen-cafetera-moulinex" width="100">
            <div class="subCaja">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <b><p class="descripcion">Cafetera Moulinex</p> </b>
            </div>
        </article>
        
            <article>
            <img src="images/img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="100">
            <div class="subCaja">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <b><p class="descripcion"> MacBook Pro 2019</p></b>   
            </div>
        </article>

            <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="100">
            <div class="subCaja">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <b><p class="descripcion"> Samsung Galaxy S10</p></b>
            </div>
            </article>
         
            <article>
            <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="100">
            <div class="subCaja">
            <i class="fa-solid fa-truck camion"></i>
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <b><p class="descripcion"> SmartTv Samsung 43"</p></b>
            </div>
            </article>
</section>
    </main>
    <footer>
  
            <center>
                        
                <i class="fa-solid fa-credit-card icono"></i>
                    <b><h3 >Pagá con tarjeta o en efectivo</h3></b>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                       puntos de pago. ¡Y siempre es seguro!</p>
                       <i class="fa-solid fa-gift icono"></i>
                           <b><h3>Envío gratis desde $ 2.500</h3></b>
                           <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                               productos. Es un beneficio de Mercado Puntos.</p>
                               <i class="fa-solid fa-user-shield icono"  ></i>
                            <b><h3>Seguridad, de principio a fin</h3></b>
                            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                               porque estás siempre protegid@.</p>
                        
                        
                            <b><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></b>
                     
            </center>

       
    </footer>
</body>
</html>