header{
    background-color: #EAC926;
   
}
header figure{
    width: 50%;
}
header h2{
    width: 50%;
}
.nav-bar {
    display: flex;
    flex-direction: row;
  }
  .nav-bar a{
    margin-left: 15px;
  }
  .login-bar a{
    margin-right: 15px;
  }
  .login-bar {
      display: flex;
    flex-direction: row;
    justify-content: end;
  }
  #hamburguer{
    background-color: #1259c3;
    width: 50px;
    height: 50px;
    margin: 25px;
    padding: 12px;
    border: 1px;
    color: white;
    font-size: 25px;
    border-radius: 6px 6px 6px;
    display: inline-block;
    box-sizing: border-box;
  }
  @media /*celu*/ (min-width:361px) {
    .login-bar{
        display : none;
    }
.nav-bar{
    display: none;
}
#hamburguer{
    display: flex;
}
.logoybarra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
}
@media /*tablet*/ (min-width: 769px) {
    .login-bar{
        display : flex;
    }
.nav-bar{
    display: flex;
}
#hamburguer{
    display: none;
}
.logoybarra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
}
@media /*compu*/ (min-width: 1090px) {
    .login-bar{
        display : flex;
    }
.nav-bar{
    display: flex;
}
#hamburguer{
    display: none;
}
.logoybarra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

}